//====================================================================================================
.main-section {

   &__container {
      display: grid;
      align-items: center;
      column-gap: rem(20);
      row-gap: rem(30);
      grid-template-columns: 1fr;
      
   }

   @media (min-width: $mobile){
      &__container {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &__content {}

   &__decor {}
}

.content-main-section {
   opacity: 1;
   transform: translate(0, rem(50));
   transition: all 0.3s ease 0.3s;
   .previous-section & {
      transform: translate(0, rem(-50));
   }
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0.2s;
   }
   &>*:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
   }

   &__body {
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 10);
      }
   }

   &__title {
   }

   &__text {}

   &__social {}
}

.decor-main-section {
   max-width: rem(336);
   margin: 0 rem(22);
   justify-self: center;
   opacity: 1;
   transform: translate(rem(50), 0);
   transition: all 0.3s ease 0s;
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0.2s;
   }
   @media (min-width: $mobile){
      & {
         width: 100%;
         justify-self: end;
         @include adaptiveValue("max-width", 336, 224, 0, $containerWidth, 767.98);
      }
   }

   @media (max-width: $mobile){
      & {
         @include adaptiveValue("width", 336, 224, 0, 767.98);
      }
   }

   &__box {
      position: relative;
      border-radius: rem(16);
      &::before,&::after{
         content:'';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         border-radius: rem(16);
      }
      &::before{
         content:'';
         z-index: 1;
         background-color: $purpleColor;
         transform: rotate(-9.55deg);
      }
      &::after{
         content:'';
         z-index: 2;
         background: #EAE6FE url('@img/main/lines.svg') top right / 58% no-repeat;
      }
   }

   &__image {
      position: relative;
      padding-bottom: percent(400, 336);
      overflow: hidden;
      border-radius: rem(16);
   }

   &__picture {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      max-width: 100%;
   }
}
//====================================================================================================
.services {
   background-color: #FBFBFB;

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 104, 30);
      }
   }

   &__title {}

   &__items {
      width: 100%;
      display: grid;
      @include adaptiveValue("column-gap", 56, 20);
      grid-template-columns: repeat(auto-fill, minmax( rem(280), 1fr));
      row-gap: rem(30);
   }

   &__item {}
}

.item-serivices {
   @include adaptiveValue("padding-top", 53, 0, 0, $containerWidth, 991.98);
   @include adaptiveValue("padding-bottom", 53, 0, 0, $containerWidth, 991.98);
   @include adaptiveValue("padding-left", 57, 0, 0, $containerWidth, 991.98);
   @include adaptiveValue("padding-right", 57, 0, 0, $containerWidth, 991.98);
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: rem(8);
   &>*:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 10);
   }
   &:nth-child(1) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.5s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.3s;
      }
   }
   &:nth-child(2) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.4s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.4s;
      }
   }
   &:nth-child(3) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.3s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.5s;
      }
   }

   &__icon {
      @include adaptiveValue("padding", 16, 10);
      font-size: rem(18);
      color: $purpleColor;
      background-color: #F5F3FE;
      border-radius: rem(16);
   }

   &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 10);
      }
   }

   &__title {
      flex: 1 1 auto;
      font-weight: 500;
      line-height: math.div(20, 16);
      color: $mainColorTwo;
   }

   &__text {
      font-size: rem(14);
      line-height: math.div(20, 14);
   }
}
//========================================================================================================================================================
.portfolio {

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 144, 30, 0, $containerWidth, 767.98);
      }
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
   }

   @media (max-width: em(600)){
      &__header {
         flex-direction: column;
         align-items: stretch;
      }
   }

   &__title {}

   &__controls {
      display: flex;
      align-items: center;
      gap: rem(16);
      @media (max-width: em(600)){
         justify-content: center;
      }
   }

   &__arrow {
      width: rem(40);
      height: rem(40);
      border-radius: rem(16);
      background-color: #EAE6FE;
      color: $purpleColor;
      font-size: rem(12);
      transition: all 0.3s ease 0s;
      &:hover{
         background-color: #cfc7f8;
      }
      &.swiper-button-disabled {
         opacity: 0.5;
         cursor: default;
         background-color: #EAE6FE;
      }
      &_left {}

      &_right {
         transform: rotate(180deg);
      }
   }

   &__slider {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0s;
      .previous-section & {
         transform: translate(0, rem(-50));
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.2s;
      }
      @media (max-width: $mobile){
         margin-right: rem(-15);
         padding-right: rem(-15);
      }
   }
   // .portfolio__wrapper
   &__wrapper {
   }
   // .portfolio__slide
   &__slide {
   }
}

.item-portfolio {
   min-height: 100%;
   border: 1px solid #f5f5f5;
   border-radius: rem(8);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   // .item-portfolio__image-ibg
   &__image-ibg {
      opacity: 0.5;
      padding-bottom: percent(295, 402);
      overflow: hidden;
      transition: all 0.3s ease 0s;
      img {
         transition: all 0.3s ease 0s;
         object-position: top;
      }
      &:hover{
         opacity: 1;
         img {
            transform: scale(1.05);
         }
      }
      @media (any-hover: none){
         opacity: 1;
      }
   }
   // .item-portfolio__body
   &__body {
      flex: 1 1 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("padding", 24, 10);
      &>*:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .item-portfolio__title
   &__title {
      flex: 1 1 auto;
   }
   // .item-portfolio__link-title
   &__link-title {
      position: relative;
      font-weight: 500;
      line-height: math.div(20, 16);
      color: $mainColorTwo;
      &::after {
         content: '';
         position: absolute;
         width: 0;
         height: rem(2);
         bottom: 0;
         left: 0;
         background-color: $mainColorTwo;
         transition: all 0.3s ease 0s;
      }
      &:hover::after {
         width: 100%;
      }
   }
   // .item-portfolio__footer
   &__footer {
      display: flex;
      align-items: center;
      gap: rem(16);
   }
   // .item-portfolio__gategory
   &__category { 
   }
   // .item-portfolio__link
   &__link {
      padding: rem(7.5) rem(3);
      transition: all 0.3s ease 0s;
      font-size: rem(9);
      &:hover{
         color: $purpleColor;
      }
   }
}
//========================================================================================================================================================
.carrer {
   background-color: #FBFBFB;
   // .carrer__container
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      
   }

   // .carrer__body
   &__body {
      width: 100%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      @include adaptiveValue("column-gap", 144, 20);
      @include adaptiveValue("row-gap", 80, 20);

      @media (min-width: $mobile){
         grid-template-rows: auto 1fr;
         grid-template-columns: auto 1fr;
         align-items: start;
         align-content: center;
         grid-auto-flow: column;
      }
   }

   // .carrer__title
   &__title {
   }

   // .carrer__tabs
   &__tabs {
      display: grid;
      grid-template-columns: auto 1fr;
   }

   // .carrer__navigatio
   &__navigation {
      .tab-spoller & {
         display: none;
      }
   }

   // .carrer__content
   &__content {

      @media (min-width: $mobile){
         @include adaptiveValue("padding-top", 32, 15);
         grid-row: span 2;
      }
   }
}

.navigation-carrer {
   opacity: 1;
   transform: translate(rem(-100), 0);
   transition: all 0.3s ease 0s;
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0s;
   }
   // .navigation-carrer__title
   &__title {
      display: block;
      width: 100%;
      padding: rem(14) rem(24);
      text-align: left;
      color: $mainColorTwo;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease 0s;
      &:not(:last-child) {
         margin-bottom: rem(9);
      }
      &._tab-active .content-carrer__body {
         display: none;
      }
      ._tab-spoller & {
         border: 1px solid rgba(101, 109, 114, 0.2);
      }
      &::after {
         transition: all 0.3s ease 0s;
         font-size: rem(12);
         @extend %ic;
         content: '\e901';
         ._tab-spoller & {
            transform: rotate(-90deg);
         }
      }
      &._tab-active {
         background-color: #fff;
         color: $purpleColor;
         ._tab-spoller & {
            border: 1px solid rgba(101, 109, 114, 0.7);
         }
         &::after {
            transform: rotate(-180deg);
            ._tab-spoller & {
               transform: rotate(90deg);
            }
         }
      }
   }
}

.content-carrer {
   opacity: 1;
   transform: translate(rem(100), 0);
   transition: all 0.3s ease 0s;
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0s;
   }
   // .content-carrer__body
   &__body {
      transition: all 0.3s ease 0s;
      &._slide {
         opacity: 1;
         visibility: hidden;
      }
      ._tab-spoller & {
         padding: rem(15) rem(0);
      }
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 65, 20);
      }
   }
   // .content-carrer__header
   &__header {
      position: relative;
      &::after{
         content:'';
         position: absolute;
         width: 100%;
         height: rem(2);
         left: 0;
         @include adaptiveValue("bottom", -32.5, -10);
         transform: translate(0, 50%);
         background-color: $mainColorTwo;
      }
      &>*:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .content-carrer__header-top
   &__header-top {
      &>*:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
   // .content-carrer__title
   &__title {
      font-size: rem(18);
      font-weight: 500;
      line-height: math.div(23, 18);
      color: $mainColorTwo;
   }
   
   // .content-career__link-title
   &__link-title {
      text-decoration: underline;
   }

   // .content-carrer__location
   &__location {
      font-size: rem(14);
      line-height: math.div(17, 14);
   }
   // .content-carrer__time
   &__time {
      font-size: rem(14);
      font-weight: 500;
      line-height: math.div(24, 14);
   }
   // .content-carrer__categories
   &__categories {
      display: flex;
      gap: rem(16);
   }
   // .content-carrer__link
   &__link {
   }
   // .content-carrer__main
   &__main {
   }
   // .content-carrer__list
   &__list {
   }
}

.list-content-carrer {
   &>*:not(:last-child) {
      margin-bottom: rem(16);
   }
   // .list-content-carrer__item
   &__item {
      position: relative;
      &>*:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
}

.spollers {
   // .spollers__item
   &__item {
   }
   // .spollers__title
   &__title {
      margin-left: rem(28);
      cursor: pointer;
      list-style: none;
      transition: all 0.3s ease 0s;
      span {
         position: absolute;
         top: em(6, 16);
         left: 0;
         padding: rem(10);
         display: inline-block;
         &::before,
         &::after {
            content: '';
            position: absolute;
            width: rem(10);
            height: rem(2);
            top: em(9, 16);
            left: 25%;
            background-color: #D9D9D9;
            transition: all 0.3s ease 0s;
            cursor: pointer;
         }
         &::after {
            transform: rotate(90deg) scale(1);
         }
      }
      &._spoller-active {
         span {
            &::after {
               content: '';
               transform: rotate(0deg) scale(1);
            }
         }
      }
   }
   // .spollers__body
   &__body {
   }
}

//========================================================================================================================================================
.blog {

   // .blog__container
   &__container {
      @include adaptiveValue("padding-left", 33, 15, 0, $containerWidth, 991.98);
      @include adaptiveValue("padding-right", 33, 15, 0, $containerWidth, 991.98);
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 144, 30, 0, $containerWidth, 767.98);
      }
   }

   // .blog__title
   &__title {}

   // .blog__body
   &__body {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0s;
      .previous-section & {
         transform: translate(0, rem(-50));
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.2s;
      }
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
      row-gap: rem(30);
      @include adaptiveValue("column-gap", 40, 20, 0, $containerWidth, 991.98);
   }

   // .blog__item
   &__item {}
}

.item-blog {
   display: flex;
   flex-direction: column;
   border-radius: rem(8);
   overflow: hidden;
   &:nth-child(1) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.5s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.3s;
      }
   }
   &:nth-child(2) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.4s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.4s;
      }
   }
   &:nth-child(3) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.3s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.5s;
      }
   }

   // .item-blog__image-ibg
   &__image-ibg {
      padding-bottom: percent(243, 361);
      overflow: hidden;
      img {
         transition: all 0.3s ease 0s;
      }
      &:hover{
         img {
            transform: scale(1.1);
         }
      }
   }

   // .item-blog__content
   &__content {
      padding: rem(16) rem(16) rem(24) rem(16);
      display: flex;
      flex-direction: column;
      border: solid #F1F1F1;
      border-width: 0 1px 1px 1px;
      border-radius: 0 0 rem(8) rem(8);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 44, 20);
      }
      @media (max-width: $mobile){
         border: solid $mainColor;
         border-width: 0 1px 1px 1px;
         @include adaptiveValue("padding", 16, 12);
      }
   }

   // .item-blog__body
   &__body {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 10);
      }
   }

   // .item-blog__title
   &__title {
   }

   // .item-blog__link-title
   &__link-title {
      flex: 1 1 auto;
      position: relative;
      font-size: rem(16);
      font-weight: 500;
      line-height: math.div(24, 16);
      color: $mainColorTwo;
      &::after {
         content: '';
         position: absolute;
         width: 0;
         height: rem(2);
         bottom: 0;
         left: 0;
         background-color: $mainColor;
         transition: all 0.3s ease 0s;
      }
      &:hover::after {
         width: 100%;
      }
   }

   // .item-blog__data
   &__data {
      align-self: start;
      pointer-events: none;
   }

   // .item-blog__text
   &__text {
      line-height: math.div(32, 16);
      &>*:not(:last-child) {
         margin-bottom: rem(15);
      }
      @media (max-width: $pc){
         line-height: math.div(24, 16);
      }
   }

   // .item-blog__link
   &__link {
      align-self: center;
      font-size: rem(14);
      font-weight: 500;
      line-height: math.div(17, 14);
      transition: all 0.3s ease 0s;
      &:hover{
         color: $purpleColor;
      }
   }
}
//========================================================================================================================================================
.reviews {
   background-color: #FBFBFb;
   // .reviews__container
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 129, 20, 0, $containerWidth, 767.98);
      }
   }
   // .reviews__title
   &__title {
      align-self: start;
   }
   // .reviews__body
   &__body {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0s;
      .previous-section & {
         transform: translate(0, rem(-50));
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.2s;
      }
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 48, 20, 0, $containerWidth, 991.98);
   }
   // .reviews__item
   &__item {
   }
}

.item-reviews {
   padding: rem(24) rem(42);
   display: flex;
   flex-direction: column;
   border-radius: rem(8);
   overflow: hidden;
   &>*:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
   }
   @media (max-width: $tablet){
      @include adaptiveValue("padding", 24, 8, 0, $containerWidth, 991.98);
      border: 1px solid $mainColor;
   }
   &:nth-child(1) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.5s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.3s;
      }
   }
   &:nth-child(2) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.4s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.4s;
      }
   }
   &:nth-child(3) {
      opacity: 1;
      transform: translate(0, rem(50));
      transition: all 0.3s ease 0.3s;
      .previous-section & {
         transform: translate(0, rem(-50));
         transition: all 0.8s ease 0.3s;
      }
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0.5s;
      }
   }
   // .item-reviews__header
   &__header {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 15);
      }
   }
   // .item-reviews__avatar 
   &__avatar {
      align-self: center;
      width: rem(97);
      height: rem(97);
      overflow: hidden;
   }
   // .item-reviews__comment
   &__comment {
      line-height: math.div(28, 14);
      &>*:not(:last-child) {
         margin-bottom: rem(15);
      }
      @media (max-width: $mobile){
         line-height: math.div(20, 14);
      }
   }
   // .item-reviews__info
   &__info {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         margin-bottom: rem(9);
      }
   }
   // .item-reviews__name
   &__name {
      flex: 1 1 auto;
      font-weight: 500;
      color: $mainColorTwo;
   }
   // .item-reviews__profession
   &__profession {
      align-self: start;
      pointer-events: none;
   }
}
//========================================================================================================================================================
.skills {
   // .skills__container
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("padding-right", 86, 15, 0, $containerWidth, 767.98);
      
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 72, 30,0,$containerWidth, 767.98);
      }
   }
   // .skills__title
   &__title {
      align-self: start;
   }
   // .skills__body
   &__body {
      width: 100%;
      display: grid;
      grid-column: auto;
      grid-template-rows: auto;
      grid-template-columns: auto 1fr;
      row-gap: rem(20);
      @include adaptiveValue("column-gap", 148, 30, 0, $containerWidth, 767.98);
   
      @media (max-width: $mobile){
         grid-template-columns: 1fr;
      }
   }
   // .skills__institutions
   &__institutions {
   }
   // .skills__info
   &__info {
   }
}

.institutions-skills {
   padding: rem(40) rem(48) rem(76) rem(0);
   @include adaptiveValue("padding-top", 40, 0, 0, $containerWidth, 991.98);
   @include adaptiveValue("padding-bottom", 48, 0, 0, $containerWidth, 991.98);
   @include adaptiveValue("padding-right", 76, 0, 0, $containerWidth, 991.98);
   display: flex;
   flex-direction: column;
   @include adaptiveValue("row-gap", 64, 20, 0, $containerWidth, 767.98);
   opacity: 1;
   transform: translate(rem(-100), 0);
   transition: all 0.3s ease 0s;
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0s;
   }
   // .institutions-skills__item
   &__item {
      padding: rem(8) rem(0);
      @include adaptiveValue("padding-left", 30, 8,0,$containerWidth, 767.98);
      @include adaptiveValue("padding-right", 30, 8,0,$containerWidth, 767.98);
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 15);
      }
      @media (max-width: $mobile){
         border-radius: rem(8);
         border: 1px solid $mainColor;
      }
   }
   // .institutions-skills__body
   &__body {
      &>*:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .institutions-skills__title
   &__title {
      font-weight: 500;
      line-height: math.div(20, 16);
      color: $mainColorTwo;
   }
   // .institutions-skills__sub-title
   &__sub-title {
      font-size: rem(14);
      line-height: math.div(17, 14);
   }
   // .institutions-skills__data
   &__data {
      font-size: rem(14);
      line-height: math.div(17, 14);
      font-weight: 500;
      color: $mainColorTwo;
   }
}

.info-skills { 
   @include adaptiveValue("padding-top", 35, 15, 0, $containerWidth, 767.98);
   display: flex;
   flex-direction: column;
   &>*:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 20, 0, $containerWidth, 767.98);
   }
   opacity: 1;
   transform: translate(rem(100), 0);
   transition: all 0.3s ease 0s;
   .active-section & {
      opacity: 1;
      transform: translate(0, rem(0));
      transition: all 0.8s ease 0s;
   }
   // .info-skills__text
   &__text {
      line-height: math.div(32, 16);
      &>*:not(:last-child) {
         margin-bottom: rem(15);
      }
      @media (max-width: $mobile){
         line-height: math.div(24, 16);
      }
   }
   // .info-skills__advantages
   &__advantages {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 40, 20);
   }
   // .info-skills__item
   &__item {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 10);
      }
   }
   // .info-skills__title
   &__title {
      font-weight: 500;
      color: $mainColorTwo;
   }
   // .info-skills__stroke
   &__stroke {
      overflow: hidden;
      border-radius: rem(2);
      max-width: rem(551);
      height: rem(8);
      background: #F5F3FE;
   }
   // .info-skills__value
   &__value {
      height: rem(8);
      background-color: $purpleColor;
      transition: all 0.5s ease 0.5s;
      width: 0;
      .active-section &{
         transition: all 0.8s ease 0.5s;
         &_b {
            animation: one 0.8s ease 0.5s 1 normal forwards;
         }
         &_l {
            animation: two 0.8s ease 0.5s 1 normal forwards;
         }
         &_m {
            animation: three 0.8s ease 0.5s 1 normal forwards;
         }
      }
   }
}

@keyframes one {
   0% {
      width: 0;
   }

   100% {
      width: 67.5%;
   }
}

@keyframes two {
   0% {
      width: 0;
   }

   100% {
      width: 52%;
   }
}

@keyframes three {
   0% {
      width: 0;
   }

   100% {
      width: 62.8%;
   }
}
//========================================================================================================================================================//========================================================================================================================================================
.feedback {
   flex: 1 1 auto;
   background-color: #FBFBFB;
   // .feedback__container
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("padding-right", 111, 15, 0, $containerWidth, 991.98);
      
   }

   &__body {
      width: 100%;
      display: flex;
      justify-content: center;
      @include adaptiveValue("column-gap", 104, 30);
      row-gap: rem(30);
      @media (max-width: $mobile){
         flex-direction: column;
      }
   }
   // .feedback__from
   &__from {
      opacity: 1;
      transform: translate(rem(-100), 0);
      transition: all 0.3s ease 0s;
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0s;
      }
      flex: 1 1 auto;
   }
   // .feedback__info
   &__info {
      opacity: 1;
      transform: translate(rem(100), 0);
      transition: all 0.3s ease 0s;
      .active-section & {
         opacity: 1;
         transform: translate(0, rem(0));
         transition: all 0.8s ease 0s;
      }
      display: flex;
      flex-direction: column;
      @include adaptiveValue("padding-top", 56, 0, $containerWidth, 767.98);
      @include adaptiveValue("row-gap", 48, 30, 0, $containerWidth, 767.98);
   }
   // .feedback__item
   &__item {}
}
.form-feedback {
   display: flex;
   flex-direction: column;
   &>*:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 15);
   }
   // .form-feedback__body
   &__body {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 16);
      }
   }
   // .form-feedback__login
   &__login {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .form-feedback__item
   &__item {
      textarea {
         @include adaptiveValue("height", 189, 94.5);
         resize:  none;
      }
   }
   // .form-feedback__input
   &__input {
      width: 100%;
      padding: rem(16) rem(24);
      background-color: #FFFFFF;
      border-radius: rem(8);
      @media (max-width: $pc){
         @include adaptiveValue("padding", 16, 10, $containerWidth, 767.98);
      }
      @media (max-width: $mobile){
         border: 1px solid $mainColor;
      }
   }
   // .form-feedback__button
   &__button {
      width: 100%;
      @include adaptiveValue("padding", 16, 12,0,$containerWidth, 767.98);
      color: #f5f3f3;
      background-color: $purpleColor;
      border: 1px solid #EAE6FE;
      border-radius: rem(8);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 0.3s ease 0s;
      &:hover{
         background-color: #6058be;
      }
   }
}
.item-feedback {
   display: flex;
   &>*:not(:last-child) {
      @include adaptiveValue("margin-right", 24, 8);
   }
   // .item-feedback__icon
   &__icon {
      @include adaptiveValue("padding", 19, 8);
      font-size: rem(18);
      color: $purpleColor;
   }
   // .item-feedback__body
   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      &>*:not(:last-child) {
         margin-bottom: rem(4);
      }
   }
   // .item-feedback__title
   &__title {
      font-weight: 500;
      line-height: math.div(19, 16);
      color: $mainColorTwo;
   }
   // .item-feedback__sub-title
   &__sub-title {
      font-size: rem(14);
      line-height: math.div(24, 14);
      transition: all 0.3s ease 0s;
      @media (max-width: $pc){
         line-height: math.div(20, 14);
      }
      &:hover{
         color: $purpleColor;
      }
   }
}
//========================================================================================================================================================